.consultation {
    min-height: 680px;
    padding: 100px 0 92px 0;
    background-image: url("../img/bg-consultation.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &__description {
        font-size: 20px;
        color: $contrast-text;
        margin-top: 70px;
    }
    .error {
        border: 1px solid $main-color;
        font-size: 14px;
    }
    label.error {
        border: none;
        text-align: center;
        margin-bottom: 15px;
        color: #fff;
    }
}