@import "mixins";
@import "variables";
@import "promo";
@import "header";
@import "buttons";
@import "titles";
@import "advantages";
@import "block-header";
@import "consultation";
@import "form";
@import "advantages";
@import "block-header";
@import "carousel";
@import "catalog";
@import "rewiew";
@import "footer";
@import "media";

@font-face {
    font-family: 'Museo Sans Cyrl';
    src: local('Museo Sans Cyrl 500'),
     local('MuseoSansCyrl-500'), 
     url('../fonts/Museosanscyrl500.woff2') 
     format('woff2'), 
     url('../fonts/Museosanscyrl500.woff') 
     format('woff'), 
     url('../fonts/Museosanscyrl500.ttf') 
     format('truetype');
    font-weight: 500;
    font-style: normal;
}




* {
    font-family: 'Museosanscyrl500', sans-serif;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}

